.item1 .img1 {
  background: url("https://i.ibb.co/Bw1FbSG/slider-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item2 .img2 {
  background: url("https://i.ibb.co/G5XVcCZ/slider-2-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item3 .img3 {
  background: url("https://i.ibb.co/bmTyntd/slider-2-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
