.item1 .img1 {
  background: url("https://i.ibb.co/FD0ksq4/1-1cae1484-6708-4556-af27-18db5a0b650c.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item2 .img2 {
  background: url("https://i.ibb.co/vPWcqXS/2-f639d039-1b63-405c-ab7d-4561d7871d76.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item3 .img3 {
  background: url("https://i.ibb.co/y4xjyJf/2-ae5cc69e-78af-4aea-9cc7-bb616d558539.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right .right1 {
  background: url("https://i.ibb.co/nQmjqBb/Frame-14.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.right .right2 {
  background: url("https://i.ibb.co/L5x66FJ/Frame-15.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
